@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Hide scrollbar but keep scroll functionality */
.hide-scrollbar {
  -ms-overflow-style: none; /* for Internet Explorer and Edge */
  scrollbar-width: none; /* for Firefox */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}




/* globals.css */

 /* Remove number input spinners in WebKit browsers (Chrome, Safari, Edge Chromium) */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Remove spinner in Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

/* Optional: ensure consistent appearance */
input[type="number"] {
  appearance: textfield;
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
}

.tui-image-editor-download-btn {
  display: none !important;
}

@import 'tui-image-editor/dist/tui-image-editor.css';
@import 'tui-color-picker/dist/tui-color-picker.css';